name: Run Ruff Linter

on:
  push:
    branches: [ master ]

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install UV
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: "0.9.5"

      - name: Install Dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run Ruff Linter
        run: uv run ruff check .
